* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  background-color: #ffdd9e;
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 80px 1fr 40px;
  box-shadow:
    10px 10px 20px,
    -10px 10px 20px;
}


/*header*/
.header {
  grid-area: header;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.l {
  height: 100%;
  width: 65%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.l i {
  font-size: 35px;
}
.r {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r a {
  background-color: rgb(255, 255, 255);
  color: rgb(58, 58, 58);
  height: 40px;
  width: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.r a:hover {
  color: black;
  font-size: 16.5px;
}
.contato{
  background-color: rgb(255, 98, 41);
  border-radius: 5px;
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato:hover{
   background-color: rgb(255, 68, 0);
}


/*main*/
.main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

/*Sobre*/
.inicial {
  height: 300px;
  width: 100%;
  background: linear-gradient(90deg,rgba(255, 221, 158, 1) 0%, rgba(255, 241, 214, 1) 23%, rgba(255, 241, 214, 1) 51%, rgba(255, 241, 214, 1) 81%, rgba(255, 221, 158, 1) 100%);
  display: grid;
  grid-template-areas:
    "titulo titulo aside"
    "titulo titulo aside"
    "botao botao aside";
  grid-template-columns: 1fr 1fr 30%;
  grid-template-rows: 1fr 1fr 25%;
  padding: 20px;
}
.titulo {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: aside;
}
.img {
  height: 90%;
  width: 80%;
  border-radius: 50%;
  border: 1px solid red;
}
.botao {
  grid-area: botao;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.botao button {
   background-color: rgb(255, 241, 214);
  border: 1px solid black;
  height: 40px;
  width: 130px;
  border-radius: 10px;
}
.botao button:hover {
  background-color: rgb(255, 234, 195);
  height: 42px;
  width: 132px;
}


/*div dos cards*/
.cardbox {
  height: 82%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/*Habilidades*/
.skill {
  height: 40%;
  width: 100%;
}
.html{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50%;
 width: 100%;
 font-size: 40px;
 background-color: orange;
 border-top-left-radius: 8px ;
 border-top-right-radius: 8px ;
}
.css{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50%;
 width: 100%;
  font-size: 40px;
   background-color: red;
  border-bottom-left-radius: 8px ;
 border-bottom-right-radius: 8px ;
}
.git{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50%;
 width: 100%;
 font-size: 40px;
  background-color:rgb(118, 1, 118);
  border-top-left-radius: 8px ;
 border-top-right-radius: 8px ;
}
.github{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50%;
 width: 100%;
  font-size: 40px;
  background-color: rgb(255, 21, 0);
 border-bottom-left-radius: 8px ;
 border-bottom-right-radius: 8px ;
}
.javascrp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
   width: 100%;
  font-size: 40px;
  background-color:aqua;
 border-radius: 8px ;
 border-radius: 8px ;
}
.word{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
   width: 100%;
  font-size: 30px;
  background-color:rgb(0, 64, 214);
    border-top-left-radius: 8px ;
 border-top-right-radius: 8px ;
}
.exel{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
   width: 100%;
  font-size: 30px;
  background-color:rgb(149, 255, 0);
}
.powerpoint{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
   width: 100%;
  font-size: 30px;
  background-color:rgb(255, 196, 0);
}
.photoshop{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
   width: 100%;
  font-size: 30px;
  background-color:rgb(0, 195, 255);
   border-bottom-left-radius: 8px ;
 border-bottom-right-radius: 8px ;
}
.card{
  background-color: rgb(186, 186, 186);
  border: 2px solid black;
  border-radius: 10px;
  height: 200px;
  width: 210px;
}
.card:hover{
  transition: all 0.4s ease-in-out;
  box-shadow:  1px 1px 20px,
    -1px -1px 20px;
   height: 201px;
  width: 211px;
}


/*Projetos*/
.projetos {
  height: 340px;
  width: 100%;
}
.card2 {
  height: 270px;
  width: 260px;
  border-radius: 10px;
  background-color: rgb(186, 186, 186);
}




/*footer*/
.footer {
  grid-area: footer;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
